MSSeguridadFraude.AccesoDatos/Web References/MSReglasNegocio/ServicioReglasNegocio6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Salida" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Salida" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://172.20.66.78:8043/ServicioReglasNegocio/ServicioReglasNegocio.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Respuesta" />
  <xs:import schemaLocation="https://172.20.66.78:8043/ServicioReglasNegocio/ServicioReglasNegocio.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Comun" />
  <xs:complexType name="RespuestaRegla">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Respuesta" name="Respuesta" nillable="true" type="q1:ERespuesta" />
      <xs:element name="OperacionEncriptacion" type="xs:boolean" />
      <xs:element name="OperacionPermitida" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Comun" name="ReglasValidadas" nillable="true" type="q2:ArrayOfRegla" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaRegla" nillable="true" type="tns:RespuestaRegla" />
</xs:schema>