MSSeguridadFraude.AccesoDatos/Web References/MSReglasNegocio/ServicioReglasNegocio4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Entrada" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Entrada" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://172.20.66.78:8043/ServicioReglasNegocio/ServicioReglasNegocio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Auditoria" />
  <xs:complexType name="Verificar">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Auditoria" name="Auditoria" nillable="true" type="q1:Auditoria" />
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Verificar" nillable="true" type="tns:Verificar" />
</xs:schema>