MSSeguridadFraude.AccesoDatos/Web References/MSReglasNegocio/ServicioReglasNegocio0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://172.20.66.78:8043/ServicioReglasNegocio/ServicioReglasNegocio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Entrada" />
  <xs:import schemaLocation="https://172.20.66.78:8043/ServicioReglasNegocio/ServicioReglasNegocio.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Salida" />
  <xs:element name="VerificarRegla">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Entrada" minOccurs="0" name="reglaVerificar" nillable="true" type="q1:Verificar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarReglaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Salida" minOccurs="0" name="VerificarReglaResult" nillable="true" type="q2:RespuestaRegla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarReglaRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Entrada" minOccurs="0" name="reglaVerificar" nillable="true" type="q3:Verificar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarReglaRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Salida" minOccurs="0" name="VerificarReglaRestResult" nillable="true" type="q4:RespuestaRegla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>