MSSeguridadFraude.AccesoDatos/Web References/MSReglasNegocio/ServicioReglasNegocio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Comun" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MicroServicio.Entidades.Comun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRegla">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Regla" nillable="true" type="tns:Regla" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegla" nillable="true" type="tns:ArrayOfRegla" />
  <xs:complexType name="Regla">
    <xs:sequence>
      <xs:element name="NombreRegla" nillable="true" type="xs:string" />
      <xs:element name="Activo" type="xs:boolean" />
      <xs:element name="CodigoError" nillable="true" type="xs:string" />
      <xs:element name="MensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Regla" nillable="true" type="tns:Regla" />
</xs:schema>