MSSeguridadFraude.AccesoDatos/Web References/ConfiguracionCentralizada/ConfiguracionCentralizada.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tcs.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tcs.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tcs.com/">
      <s:element name="ConsultarConfiguracion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoTrabajo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarConfiguracionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarConfiguracionResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeInterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeMostrar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Configuraciones" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarConfiguracionSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarConfiguracion" />
  </wsdl:message>
  <wsdl:message name="ConsultarConfiguracionSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarConfiguracionResponse" />
  </wsdl:message>
  <wsdl:portType name="ConfiguracionCentralizadaSoap">
    <wsdl:operation name="ConsultarConfiguracion">
      <wsdl:input message="tns:ConsultarConfiguracionSoapIn" />
      <wsdl:output message="tns:ConsultarConfiguracionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfiguracionCentralizadaSoap" type="tns:ConfiguracionCentralizadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarConfiguracion">
      <soap:operation soapAction="http://tcs.com/ConsultarConfiguracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfiguracionCentralizadaSoap12" type="tns:ConfiguracionCentralizadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarConfiguracion">
      <soap12:operation soapAction="http://tcs.com/ConsultarConfiguracion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfiguracionCentralizada">
    <wsdl:port name="ConfiguracionCentralizadaSoap" binding="tns:ConfiguracionCentralizadaSoap">
      <soap:address location="http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/ConfiguracionCentralizada.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfiguracionCentralizadaSoap12" binding="tns:ConfiguracionCentralizadaSoap12">
      <soap12:address location="http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/ConfiguracionCentralizada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>