MSSeguridadFraude.AccesoDatos/Web References/CodigoTrabajoWS/Configuracion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tcs.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tcs.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tcs.com/">
      <s:element name="ObtenerCodigoTrabajo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datoEnClaro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCodigoTrabajoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCodigoTrabajoResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeInterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeMostrar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Configuraciones" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerCodigoTrabajoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCodigoTrabajo" />
  </wsdl:message>
  <wsdl:message name="ObtenerCodigoTrabajoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCodigoTrabajoResponse" />
  </wsdl:message>
  <wsdl:portType name="ConfiguracionSoap">
    <wsdl:operation name="ObtenerCodigoTrabajo">
      <wsdl:input message="tns:ObtenerCodigoTrabajoSoapIn" />
      <wsdl:output message="tns:ObtenerCodigoTrabajoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfiguracionSoap" type="tns:ConfiguracionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCodigoTrabajo">
      <soap:operation soapAction="http://tcs.com/ObtenerCodigoTrabajo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfiguracionSoap12" type="tns:ConfiguracionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCodigoTrabajo">
      <soap12:operation soapAction="http://tcs.com/ObtenerCodigoTrabajo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Configuracion">
    <wsdl:port name="ConfiguracionSoap" binding="tns:ConfiguracionSoap">
      <soap:address location="http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/Configuracion.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfiguracionSoap12" binding="tns:ConfiguracionSoap12">
      <soap12:address location="http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/Configuracion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>