MSSeguridadFraude.AccesoDatos/Web References/WSListenerSigloBGRMS/ListenerSigloBGRMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InvocarServicioGenerico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:EDatoEntrada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EDatoEntrada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="datoCabecera" type="tns:EDatoCabecera" />
          <s:element minOccurs="0" maxOccurs="1" name="TramaXML" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EDatoCabecera">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Programa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Aplicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCanalBis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCanalSiglo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionSiglo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMedioInvocacionSiglo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroUnicoTransaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoTransaccionSiglo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InvocarServicioGenericoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvocarServicioGenericoResult" type="tns:EDatoSalida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EDatoSalida">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Respuesta" type="tns:ERespuesta" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosSalida" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ERespuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InvocarServicioGenericoSoapIn">
    <wsdl:part name="parameters" element="tns:InvocarServicioGenerico" />
  </wsdl:message>
  <wsdl:message name="InvocarServicioGenericoSoapOut">
    <wsdl:part name="parameters" element="tns:InvocarServicioGenericoResponse" />
  </wsdl:message>
  <wsdl:portType name="ListenerSigloBGRMSSoap">
    <wsdl:operation name="InvocarServicioGenerico">
      <wsdl:input message="tns:InvocarServicioGenericoSoapIn" />
      <wsdl:output message="tns:InvocarServicioGenericoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListenerSigloBGRMSSoap" type="tns:ListenerSigloBGRMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InvocarServicioGenerico">
      <soap:operation soapAction="http://tempuri.org/InvocarServicioGenerico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListenerSigloBGRMSSoap12" type="tns:ListenerSigloBGRMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InvocarServicioGenerico">
      <soap12:operation soapAction="http://tempuri.org/InvocarServicioGenerico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListenerSigloBGRMS">
    <wsdl:port name="ListenerSigloBGRMSSoap" binding="tns:ListenerSigloBGRMSSoap">
      <soap:address location="http://10.0.183.149/ServicioBGRInterfacesSigloMS/ListenerSigloBGRMS.asmx" />
    </wsdl:port>
    <wsdl:port name="ListenerSigloBGRMSSoap12" binding="tns:ListenerSigloBGRMSSoap12">
      <soap12:address location="http://10.0.183.149/ServicioBGRInterfacesSigloMS/ListenerSigloBGRMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>