MSSeguridadFraude.AccesoDatos/Web References/MSIdentificadorUnico/ServicioIdentificadorUnico.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Entrada" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Entrada" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Comun" />
  <xs:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Auditoria" />
  <xs:complexType name="Consulta">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Comun" minOccurs="0" name="Entorno" nillable="true" type="q1:Entorno" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Auditoria" minOccurs="0" name="Auditoria" nillable="true" type="q2:Auditoria" />
      <xs:element name="TipoTransaccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Consulta" nillable="true" type="tns:Consulta" />
</xs:schema>