MSSeguridadFraude.AccesoDatos/Web References/MSIdentificadorUnico/ServicioIdentificadorUnico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Comun" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Comun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Entorno">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autorizador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Centro" type="xs:short" />
      <xs:element minOccurs="0" name="Dominio" type="xs:short" />
      <xs:element minOccurs="0" name="Empresa" type="xs:short" />
      <xs:element minOccurs="0" name="Entorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongIn" type="xs:short" />
      <xs:element minOccurs="0" name="LongOut" type="xs:short" />
      <xs:element minOccurs="0" name="Nodo" type="xs:short" />
      <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entorno" nillable="true" type="tns:Entorno" />
</xs:schema>