MSSeguridadFraude.AccesoDatos/Web References/MSIdentificadorUnico/ServicioIdentificadorUnico5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Respuesta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Respuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ERespuesta">
    <xs:sequence>
      <xs:element name="Codigo" nillable="true" type="xs:string" />
      <xs:element name="Mensaje" nillable="true" type="xs:string" />
      <xs:element name="FechaRespuesta" type="xs:dateTime" />
      <xs:element name="ErrorConexion" type="xs:boolean" />
      <xs:element name="ExcepcionAplicacion" type="xs:boolean" />
      <xs:element name="OperacionProcesada" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroDocumentoOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificadorUnicoTransaccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ERespuesta" nillable="true" type="tns:ERespuesta" />
</xs:schema>