MSSeguridadFraude.AccesoDatos/Web References/MSIdentificadorUnico/ServicioIdentificadorUnico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioIdentificadorUnico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ServicioIdentificadorUnico_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Entrada" />
      <xsd:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Comun" />
      <xsd:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Auditoria" />
      <xsd:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Multicanal" />
      <xsd:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Salida" />
      <xsd:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Respuesta" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioIdentificadorUnico_GenerarIdentificadorUnico_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarIdentificadorUnico" />
  </wsdl:message>
  <wsdl:message name="IServicioIdentificadorUnico_GenerarIdentificadorUnico_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarIdentificadorUnicoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioIdentificadorUnico_GenerarIdentificadorUnicoRest_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarIdentificadorUnicoRest" />
  </wsdl:message>
  <wsdl:message name="IServicioIdentificadorUnico_GenerarIdentificadorUnicoRest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarIdentificadorUnicoRestResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioIdentificadorUnico">
    <wsdl:operation name="GenerarIdentificadorUnico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioIdentificadorUnico/GenerarIdentificadorUnico" message="tns:IServicioIdentificadorUnico_GenerarIdentificadorUnico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioIdentificadorUnico/GenerarIdentificadorUnicoResponse" message="tns:IServicioIdentificadorUnico_GenerarIdentificadorUnico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarIdentificadorUnicoRest">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioIdentificadorUnico/GenerarIdentificadorUnicoRest" message="tns:IServicioIdentificadorUnico_GenerarIdentificadorUnicoRest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioIdentificadorUnico/GenerarIdentificadorUnicoRestResponse" message="tns:IServicioIdentificadorUnico_GenerarIdentificadorUnicoRest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioIdentificadorUnicoN" type="tns:IServicioIdentificadorUnico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarIdentificadorUnico">
      <soap:operation soapAction="http://tempuri.org/IServicioIdentificadorUnico/GenerarIdentificadorUnico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarIdentificadorUnicoRest">
      <soap:operation soapAction="http://tempuri.org/IServicioIdentificadorUnico/GenerarIdentificadorUnicoRest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioIdentificadorUnico" type="tns:IServicioIdentificadorUnico">
    <wsp:PolicyReference URI="#ServicioIdentificadorUnico_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarIdentificadorUnico">
      <soap:operation soapAction="http://tempuri.org/IServicioIdentificadorUnico/GenerarIdentificadorUnico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarIdentificadorUnicoRest">
      <soap:operation soapAction="http://tempuri.org/IServicioIdentificadorUnico/GenerarIdentificadorUnicoRest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioIdentificadorUnico">
    <wsdl:port name="ServicioIdentificadorUnicoN" binding="tns:ServicioIdentificadorUnicoN">
      <soap:address location="http://tcsuio068536.uio.bpichincha.com/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc" />
    </wsdl:port>
    <wsdl:port name="ServicioIdentificadorUnico" binding="tns:ServicioIdentificadorUnico">
      <soap:address location="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>