MSSeguridadFraude.AccesoDatos/Web References/MSIdentificadorUnico/ServicioIdentificadorUnico6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Entrada" />
  <xs:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Salida" />
  <xs:element name="GenerarIdentificadorUnico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Entrada" minOccurs="0" name="operacionGenerarId" nillable="true" type="q1:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarIdentificadorUnicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Salida" minOccurs="0" name="GenerarIdentificadorUnicoResult" nillable="true" type="q2:RespuestaIdentificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarIdentificadorUnicoRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Entrada" minOccurs="0" name="operacionGenerarId" nillable="true" type="q3:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarIdentificadorUnicoRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Salida" minOccurs="0" name="GenerarIdentificadorUnicoRestResult" nillable="true" type="q4:RespuestaIdentificador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>