MSSeguridadFraude.AccesoDatos/Web References/MSIdentificadorUnico/ServicioIdentificadorUnico3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Auditoria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Auditoria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Multicanal" />
  <xs:complexType name="Auditoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Multicanal" minOccurs="0" name="Canal" nillable="true" type="q1:Canal" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAgencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCentro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HashMobil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAplicacionCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificadorGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificadorServicioGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificadorUnicoOperacional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpServidorProcesamiento" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Multicanal" minOccurs="0" name="MediosInvocacion" nillable="true" type="q2:MedioInvocacion" />
      <xs:element minOccurs="0" name="Metodo" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Multicanal" minOccurs="0" name="TransaccionesFinancieras" nillable="true" type="q3:TransaccionFinanciera" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auditoria" nillable="true" type="tns:Auditoria" />
</xs:schema>