MSSeguridadFraude.AccesoDatos/Web References/MSIdentificadorUnico/ServicioIdentificadorUnico4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Salida" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Salida" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://10.0.183.151:8084/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Respuesta" />
  <xs:complexType name="RespuestaIdentificador">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIdentificador" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MSSeguridadFraude.Entidades.Respuesta" minOccurs="0" name="Respuesta" nillable="true" type="q1:ERespuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaIdentificador" nillable="true" type="tns:RespuestaIdentificador" />
</xs:schema>